.git
.github
bin
dist
coverage.out
*.test
vendor
**/__pycache__
**/*.pyc
.pytest_cache
go.work
go.work.sum
.cache
tmp
*.kubeconfig
*.config
*.pem
*.key
*.crt
*.token
secrets
.env
.env.*
.idea
.vscode
